$font-text: sans
$font-code: 100% 'Fira Code','Noto Sans Mono','monospace'
$primary-color: #000000
$colorful-color: #fa4a2b
$code-primary-color: #c0c0c0
$code-background-color: #34466e
html
  height: 100%
body
  font: 100% $font-text
  color: $primary-color
  margin: 0
  background-color: #ffffff
  display: flex
  flex-direction: column
  min-height: 100%
nav
  ul
    margin: 0
    padding: 0
    list-style: none
  li
    display: inline-block
    :hover
      background-color: #cfcfcf
      border-radius: 30px
  a
    display: block
    padding: 6px 12px
    text-decoration: none
    color: black
    :hover
      color: white

section
  flex: 1
.inverse
  background-color: $primary-color
  color: $code-primary-color
code
  background-color:#0f1419
  color:#bfbab0
pre
  display: block
  padding: 1rem
  overflow: auto
pre, code
  font: 300 $font-code
  max-width: 100%
pre > code
  display: block
  border: none
  font-style: normal
  font-size: 1rem
a
  color: $colorful-color
h*
  color: $primary-color
blockquote
  border-left-width: medium
  border-left-style: solid
  border-left-color: $colorful-color
  margin: 0
.taxonomies__items
  display: flex
  justify-content: space-between
  flex-wrap: wrap
footer
  text-align: center
@mixin name
    border-left: 2px solid $colorful-color
img
  max-width: 50%
