{% extends "base.html" %}

{% block content %}
    <div class="taxonomies">
        <div class="taxonomies__title">
            <h1>
                总共有 {{ terms | length }} 个标签： 
            </h1>
        </div>
        <div class="taxonomies__items">
            {% for tag in terms %}
                <a href="{{ tag.permalink }}">
                    {{ tag.name }}
                    <span class="count">{{ tag.pages | length }}</span>  
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}