<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/favicon.ico" />
  {% block css %}
  <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) }}">
  {% if config.extra.katex_enable %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
    integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
  {% endif %}
  {% endblock css %}
  <title>小恐龙我的胜利的博客</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">主页</a></li>
        <li><a href="{{ get_url(path='@/blog/_index.md') }}">归档</a></li>
        <li><a href="{{ get_url(path='/tags/') }}">标签</a></li>
        <li><a href="{{ get_url(path='@/about/_index.md') }}">关于</a></li>
      </ul>
    </nav>
  </header>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
   </section>
   <footer>
    <h3>所有文章基于<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">知识共享 署名-非商业性使用-相同方式共享 3.0 (CC BY-NC-SA 3.0) 许可协议</a>释出</h3>
  </footer>
</body>

</html>
