{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ page.title }}
</h1>

<p class="subtitle">发布于：<strong>{{ page.date }}</strong></p>
{{ page.content | safe }}
{% endblock content %}