{% extends "base.html" %}


{% block content %}
<h1 class="title">
    欢迎来到小恐龙我的胜利的博客
</h1>
<h1>最新的三篇文章:</h1>
<ul class="posts">
    {% set section = get_section(path="blog/_index.md") %}
    {%- for page in section.pages | slice(end=3) %}
    <li class="h-entry">
      <time class="dt-published" datetime="{{ page.date | date(format="%+") }}">{{ page.date }}</time>
      <a class="u-url p-name" href="{{ page.path | safe }}">{{ page.title }}</a>
    </li>
    {%- endfor %}
</ul>

<p>点击上面的归档查看全部文章qwq!</p>
{% endblock content %}

